
/* GENERIQUE */
body{
    font-family: Public Sans, sans-serif;
    font-size: 1.6rem;
    line-height: 3rem;
    background-color: #FAFAFA;
    color: #33323D;
    text-align: center;
}

.container{
    padding-left: 3.2rem;
    padding-right: 3.2rem;
}

@media screen and (min-width: 1200px) {
    body{
        text-align: left;
    }
    .container{
        padding-left: 16rem;
        padding-right: 16rem;
    }
}

a{
    text-decoration: none;
    color: #33323D;
}

img{
    max-width: 100%;
}

a.button{
    background-color: #FAFAFA;
    box-shadow: 0.2px 0.2px 2px #33323D;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.2rem;
    width: 20rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    margin: auto;
}

a.button:hover{
    background-color: #33323D;
    color: white;
}

@media screen and (min-width: 1200px) {
    a.button{
        margin: 0;
    }
}

.active{
    color: #5FB4A2;
}


a:hover,
a:focus{
    outline-offset: 0.5rem;
}





/* POLICES */
h1, h2, h3, h4{
    font-family: Ibarra Real Nova, sans-serif;
    text-align: center;
}

h1{
    font-size: 4rem;
    line-height: 3rem;
    font-weight: bold;
    letter-spacing: -.045rem;
    line-height: 4.2rem;
}

h2{
    font-size: 4rem;
    line-height: 4.2rem;
    font-weight: bold;
    letter-spacing: -0.0893rem;
}

h3{
    font-size: 3.2rem;
    line-height: 4.2rem;
    font-weight: normal;
}

h4{
    font-size: 2.2rem;
    line-height: 2.6rem;
    letter-spacing: -0.029rem;
    font-weight: normal;
}

@media screen and (min-width: 1200px) {
    h1, h2, h3, h4{
        text-align: left;
    }
    h1{
        font-size: 5rem;
        line-height: 5rem;
        font-weight: bold;
        letter-spacing: -.045rem;
    }
    h2{
        letter-spacing: -.036rem;
    }
    h4{
        font-size: 3.2rem;
        line-height: 3.6rem;
    }
}



/* TOGGLE MENU */
[hidden] {
    display: none;
}

@media (min-width: 768px) {
    #navigation button {
      display: none;
    }
}

#navigation button{
    background-color: #FAFAFA;
    border: transparent;
    padding: 2.5rem;
    background-image: url("../img/noun_menu_4002228.svg");
    background-repeat: no-repeat;
}




/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.nav-list{
list-style: none;
    background-color: lightgray;
    position: absolute;
    top: 10rem;
    right: 5%;
    z-index: 1000;
    padding: 2rem;
    border-radius: .5rem;
    width: 90%;
}

.nav-item {
    margin-left: 1rem;
}

.nav-item a{
    padding: 0;
}

.nav-item a:not(.active):hover{
    background-color: #203A4C;
    color: white;
}

@media screen and (min-width: 768px) {
    .nav-list{
        display: flex;
        justify-content: space-between;
        list-style: none;
        background-color: #FAFAFA;
        position: static;
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .nav-item{
        margin-left: 4.2rem;
    }
    .nav-item a{
        padding: 2rem;
    }
}





/* HERO */
.hero img{
    margin: auto;
    margin-bottom: 5rem;
    padding: 0 2rem;
}

@media screen and (min-width: 1200px) {
    .hero{
        margin: auto;
        margin-top: 5rem;
        margin-bottom: 15rem;
    }
    .hero-img{
        padding: 0;
    }
}




/* PRESENTATION */
.main{
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 5rem;
    margin-bottom: 6.5rem;
}

.manage-contenu{
    padding: 5rem 0;
}

.manage-info{
    color: #5FB4A2;
}

.manage-desc{
    padding-top: 3rem;
}

.manage-info{
    padding: 2rem 0;
    font-size: 1.2rem;
}

.project-desc{
    margin: 5rem 0;
}

.preview-img{
    margin: 5rem 0;
}

@media screen and (min-width: 1200px) {
    .main{
        gap: 12.5rem;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
    }
    .manage-info{
        font-size: 1.6rem;
    }
}






/* CAROUSSEL NAV */
.caroussel-nav{
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}

.nav-left, .nav-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left:hover{
    color: gray;
    transform: translateX(-3rem);
    transition: .3s;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.nav-right:hover{
    color: gray;
    transform: translateX(3rem);
    transition: .3s;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045)
}

.arrow{
    max-height: 5rem;
}

.arrow-left{
    padding-right: 2rem;
}

.arrow-right{
    padding-left: 2rem;
}

.nav-project{
    font-size: 1rem;
}

@media screen and (min-width: 1200px) {
    .nav-project{
        font-size: 1.6rem;
    }
    
    .arrow-left{
        padding-right: 5rem;
    }
    
    .arrow-right{
        padding-left: 5rem;
    }
    .nav-left div h4,.nav-left div p{
        text-align: left;
    }
    .nav-right div h4,.nav-right div p{
        text-align: right;
    }
}


/* CONTACT */
.contact{
    display: grid;
    grid-template-rows: auto 1fr minmax(15rem, auto);
    align-items: center;
    gap: 3rem;
    margin: 10rem 0;
}

.contact-title{
    max-width: 35rem;
}

@media screen and (min-width: 1200px) {
    .contact{
        grid-template-columns: auto 1fr minmax(15rem, auto);
        margin-bottom: 0;
    }
}

.hidden{
    visibility: hidden;
}

@media screen and (min-width: 1200px) {
    .hidden{
        visibility: visible;
    }
}





/* FOOTER */
footer{
    background-color: #33323D;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.navigation{
    display: flex;
    flex-direction: column;
}

.navigation-img{
    margin-bottom: 5rem;
}

.navigation-list{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.navigation-item{
    margin-left: .5rem;
    margin-right: .5rem;
    text-align: center;
}

.navigation-item a{
    color: white;
    width: 10rem;
}

.network{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.logo{
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
}

@media screen and (min-width: 1200px) {
    footer{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .navigation{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .navigation-list{
        flex-direction: row;
        margin: 0;
    }
    .navigation-item{
        width: 11rem;
    }
    .logo{
        width: 100%;
        margin: auto;
    }
}