
/* GENERIQUE */
body{
    font-family: Public Sans, sans-serif;
    font-size: 1.6rem;
    line-height: 3rem;
    background-color: #FAFAFA;
    color: #33323D;
}

a{
    text-decoration: none;
    color: #33323D;
}

img{
    max-width: 100%;
}

.container{
    padding-left: 16rem;
    padding-right: 16rem;
}

button{
    background-color: #FAFAFA;
    box-shadow: 0.2px 0.2px 2px #33323D;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.2rem;
    width: 20rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.active{
    color: #5FB4A2;
}

a:focus {
    offset: 2rem;
}

a:hover,
a:focus{
    outline-offset: 1rem;
}





/* POLICES */
h1, h2, h3, h4{
    font-family: Ibarra Real Nova, sans-serif;
}

h1{
    font-size: 5rem;
    line-height: 5rem;
    font-weight: bold;
    letter-spacing: -.045rem;
}

h2{
    font-size: 4rem;
    line-height: 4.2rem;
    font-weight: bold;
    letter-spacing: -.036rem;
}

h3{
    font-size: 3.2rem;
    line-height: 4.2rem;
}

h4{
    font-size: 3.2rem;
    line-height: 3.6rem;
}




/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-item{
    margin-left: 4.2rem;
}





/* HERO */
.hero{
    position: relative;
    width: 111rem;
    margin: auto;
    margin-bottom: 15rem;
}

.hero-text{
    position: absolute;
    background-color: #FAFAFA;
    max-width: 44.5rem;
    margin-top: -34rem;
    padding: 5.5rem 5.5rem 0 0;
}

.hero-title{
    margin-bottom: 3.8rem;
    max-width: 39rem;
}

.hero-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 20rem;
    background-color: #203A4C;
}

.hero-button img{
    margin: auto;
}

.hero-button p{
    font-size: 1.2rem;
    color: #FFFFFF;
    margin: auto;
}


/* PRESENTATION */
.presentation{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 15.4rem;
}

.presentation-right{
    display: grid;
    gap: 5rem;
    max-width: 36rem;
}

.presentation-text{
    display: grid;
    gap: 2rem;
}



/* CONTACT */
.contact{
    display: grid;
    grid-template-columns: auto 1fr minmax(15rem, auto);
    align-items: center;
    gap: 3rem;
    margin-bottom: 14rem;
}

.contact-title{
    max-width: 35rem;
}



/* FOOTER */
footer{
    background-color: #33323D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.navigation{
    display: flex;
    justify-content: space-between;
}

.navigation-list{
    display: flex;
    justify-content: space-between;
}

.navigation-item a{
    color: white;
}

.network{
    display: flex;
    justify-content: space-between;
}

.network img{
    margin-left: 2rem;
}